header{
    font-family: Helvetica, sans-serif;
    
}
body{
    padding-left: 24px;
}
h1{
    display: inline-block;
}
nav{
    display: inline-block;
}
#home,
#about,
#blog,
#contacts{
    display: inline-block;
    color: green;
    padding-left: 12px;
    text-decoration: none;
}
header{
    border-bottom: 2px solid black;
}

